# Node.js
node_modules/
dist/
build/

# Env & config
.env
.env.* 

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
.DS_Store

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

cosmoadiuvo-firebase-adminsdk-*.json
cosmoadiuvo-firebase-adminsdk-fbsvc-cd4649e7e7.json